---
import About from "../components/About.astro";
import FinalForm from "../components/FinalForm.astro";
import Mision from "../components/Mision.astro";
import More from "../components/More.astro";
import Proyects from "../components/Proyects.astro";
import Sponsors from "../components/Sponsors.astro";
import Layout from "../layout/Layout.astro";
---

<Layout>
	<main>
		<Sponsors />
		<More />
		<Mision />
		<About />
		<Proyects />
		<FinalForm />
		<!--???? -->
	</main>
</Layout>
