---
import About from "../components/About.astro";
import Billing from "../components/billing.astro";
import Contract from "../components/Contract.astro";
import Gantt from "../components/Gantt.astro";
import Members from "../components/Members.astro";
import Mision from "../components/Mision.astro";
import More from "../components/More.astro";
import Photos from "../components/Photos.astro";
import Problematic from "../components/Problematic.astro";
import Solution from "../components/Solution.astro";
import Sponsors from "../components/Sponsors.astro";
import Topology from "../components/Topology.astro";
import Layout from "../layout/Layout.astro";
---

<Layout>
	<main>
		<Sponsors />
		<Mision />
		<Problematic />
		<Solution />
		<Topology />
		<Billing />
		<Contract />
		<!-- <About /> -->
		<Gantt/>
		<Members />
		<!-- <Photos /> -->
		<!--???? -->
	</main>
</Layout>
