<section class="p-20">
	<h1 class="mt-40 mb-20">About</h1>
	<div class="flex flex-wrap md:flex-nowrap items-center justify-center">
		<img class="rounded-md" src="/images/ground.avif" alt="" />
		<p class="m-20">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ab
			corporis sint provident repellendus repudiandae vel, totam recusandae
			perferendis cumque. Lorem ipsum dolor sit amet consectetur adipisicing
			<br />
			<br />
			<br />
			elit. Delectus quisquam ratione dolorum eos repellendus eius accusamus dolores
			omnis odio totam assumenda nobis, unde repudiandae accusantium aliquid dolorem
			voluptas possimus quis.
		</p>
	</div>
</section>

<style>
	p {
		min-width: 50px;
	}
	img {
		min-width: 50px;
		max-width: 550px;
	}
</style>
