<section class="p-20">
	<h1>Contract</h1>
	<p class="text-center mb-10">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
		exercitationem eaque
	</p>
	<div>
		<embed
			src="./images/contrato.pdf"
			type="application/pdf"
			width="100%"
			height="100%"
		/>
	</div>
</section>

<style>
	div {
		height: 800px;
	}
</style>
