<section>
	<h1>Contract</h1>
	<p class="text-center mb-10">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
		exercitationem eaque
	</p>
	<div class="bg-slate-900"></div>
</section>

<style>
	div {
		width: 600px;
		height: 600px;
		margin: auto;
	}
</style>