<footer class="bg-slate-900 pb-8">
	<h1>Pie de paginas</h1>
	<div class="container mx-auto flex justify-evenly gap-5">
		<div class="flex flex-col">
			<h4 class="text-xl">Info</h4>
			<p>Home</p>
			<p>Acerca</p>
			<p>Otro</p>
		</div>
		<div>
			<h4 class="text-xl">Aplicaciones</h4>
			<p>Programa 1</p>
			<p>Programa 1</p>
			<p>Programa 1</p>
		</div>
		<div>
			<h4 class="text-xl">Social Media</h4>
			<a class="block" href="/form">Facebook</a>
			<a class="block" href="/about">Twitter</a>
			<a class="block" href="/about">twitter</a>
		</div>
	</div>
	<p class="text-center mt-16">
		All research reserved by AFT©Company
	</p>
</footer>
