<footer class="bg-slate-900 pb-8">
	<h1>Footer</h1>
	<div class="container mx-auto flex justify-evenly gap-5">
		<div class="flex flex-col">
			<h4 class="text-xl">Site map</h4>
			<p>Lorem ipsum</p>
			<p>Lorem ipsum</p>
			<p>Lorem ipsum</p>
		</div>
		<div>
			<h4 class="text-xl">Site map</h4>
			<p>Lorem ipsum</p>
			<p>Lorem ipsum</p>
			<p>Lorem ipsum</p>
		</div>
		<div>
			<h4 class="text-xl">Social Media</h4>
			<a class="block" href="/form">Facebook</a>
			<a class="block" href="/about">Twitter</a>
			<a class="block" href="/about">OnlyFans</a>
		</div>
	</div>
	<p class="text-center mt-16">
		All research reserved by aceadoresCompulsivos©Company
	</p>
</footer>
