<header class="flex justify-center items-center bg-no-repeat bg-cover relative">
	<!--
        bg-[url('/images/estadio.jpeg')]
        <img
		class="absolute z-0 opacity-20 w-full h-auto"
		src="/images/estadio.jpg"
		alt=""
	/>
    -->

	<div class="z-10 my-auto mx-auto flex flex-col gap-5 absolute">
		<h1>Hero</h1>
		<p class="font-bold text-2xl text-center">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ex.
		</p>
		<button class="w-3/5 mx-auto">Join us</button>
	</div>
</header>

<style>
	header {
		height: 45rem;
		display: fixed;
		background: url("/images/estadio.jpeg") fixed;
	}
	header::before {
		content: "";
		background-color: #111;
		height: 100%;
		width: 100%;
		opacity: 0.5;
	}
</style>
