---
import "../styles/mission-effects.css";
---

<section class="flex justify-center items-center gap-4 p-20 flex-wrap">
	<div class="hola">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<div class="text-center p-8">
			<h2>Undertaking/mission</h2>
			<p class="mt-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
				veritatis?
			</p>
			<div class="icon mission">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					enable-background="new 0 0 24 24"
					viewBox="0 0 24 24"
					width="180px"
					fill="#000000"
					><g><rect fill="none" height="24" width="24"></rect></g><g
						><g
							><path
								d="M9.19,6.35c-2.04,2.29-3.44,5.58-3.57,5.89L2,10.69l4.05-4.05c0.47-0.47,1.15-0.68,1.81-0.55L9.19,6.35L9.19,6.35z M11.17,17c0,0,3.74-1.55,5.89-3.7c5.4-5.4,4.5-9.62,4.21-10.57c-0.95-0.3-5.17-1.19-10.57,4.21C8.55,9.09,7,12.83,7,12.83 L11.17,17z M17.65,14.81c-2.29,2.04-5.58,3.44-5.89,3.57L13.31,22l4.05-4.05c0.47-0.47,0.68-1.15,0.55-1.81L17.65,14.81 L17.65,14.81z M9,18c0,0.83-0.34,1.58-0.88,2.12C6.94,21.3,2,22,2,22s0.7-4.94,1.88-6.12C4.42,15.34,5.17,15,6,15 C7.66,15,9,16.34,9,18z M13,9c0-1.1,0.9-2,2-2s2,0.9,2,2s-0.9,2-2,2S13,10.1,13,9z"
							></path></g
						></g
					></svg
				>

				<!-- <img src="./images/football_team.svg" alt="" /> -->
			</div>
		</div>
	</div>
	<div class="hola">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<div class="text-center p-8 flex flex-col">
			<h2>vision</h2>
			<p class="mt-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
				veritatis?
			</p>
			<div class="icon heart">
				<svg
					viewBox="0 0 24 24"
					xmlns="http://www.w3.org/2000/svg"
					width="180px"
					><path
						d="M14,2c1.82,0,3.53,0.5,5,1.35C16.01,5.08,14,8.3,14,12s2.01,6.92,5,8.65C17.53,21.5,15.82,22,14,22C8.48,22,4,17.52,4,12 S8.48,2,14,2z"
					></path>
					></svg
				>
			</div>
		</div>
	</div>
	<div class="hola">
		<span></span>
		<span></span>
		<span></span>
		<span></span>
		<div class="text-center p-8">
			<h2>Values</h2>
			<p class="mt-4">
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga,
				veritatis?
			</p>
			<!-- 		<span>
			<img class="bg" src="./icons/diamond.svg" alt="" />
		</span> -->
			<div class="icon diamond">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					enable-background="new 0 0 24 24"
					viewBox="0 0 24 24"
					width="180px"
					fill="#ffffff"
					><g><rect fill="none" height="24" width="24"></rect></g><g
						><g
							><g
								><polygon points="12.16,3 11.84,3 9.21,8.25 14.79,8.25"
								></polygon></g
							><g
								><polygon points="16.46,8.25 21.62,8.25 19,3 13.84,3"
								></polygon></g
							><g
								><polygon points="21.38,9.75 12.75,9.75 12.75,20.1"
								></polygon></g
							><g
								><polygon points="11.25,20.1 11.25,9.75 2.62,9.75"></polygon></g
							><g
								><polygon points="7.54,8.25 10.16,3 5,3 2.38,8.25"></polygon></g
							></g
						></g
					></svg
				>
			</div>
		</div>
	</div>
</section>

<style>
	svg {
		margin: auto;
		padding: 0;
	}
	.icon polygon {
		fill: transparent;
		stroke-width: 0.5;
		stroke: #31e8ff;
	}
	.diamond polygon {
		stroke-dasharray: 000;
		stroke-dashoffset: 2460;
	}
	.diamond:hover path {
		animation: animate-heart 2s linear forwards;
	}
	.icon path {
		fill: transparent;
		stroke-width: 0.5;
		stroke: #31e8ff;
	}
	.heart path {
		stroke-dasharray: 63;
		stroke-dashoffset: 0;
	}
	.heart:hover path {
		animation: animate-heart 2s linear forwards;
	}
	@keyframes animate-heart {
		0% {
			stroke-dashoffset: 0;
		}
		40% {
			stroke-dashoffset: 63;
		}
		80% {
			stroke-dashoffset: 126;
			fill: transparent;
		}
		100% {
			stroke-dashoffset: 126;
			fill: #31e8ff;
		}
	}

	img {
		color: white;
	}
</style>
