<section class="bg-slate-800">
	<h1 class="">More</h1>
	<h2 class="text-2xl">The web you need for your tournaments of soccer</h2>
	<div
		class="flex flex-wrap md:flex-row gap-5 flex-col items-center p-10 justify-center md:gap-20"
	>
		<p class="text-xl w-96">
			A lot fo Soccer tournaments has a problem and is the missing of
			automatitation of the MATCH of soccer teams, you can lost hour planning
			the time of each game, name of teams, refers, match, etc..., but you dont
			need worry for that, we did for us and more, what you say, we start right
			now?
		</p>
		<img class="rounded-md" src="/images/tournament.jpg" alt="" />
	</div>
</section>

<style>
	p {
		min-width: 50px;
	}
	img {
		min-width: 50px;
		max-width: 550px;
	}
</style>
