<section class="p-20">
	<h1>Problematica</h1>
	<h2 class="mb-10">Proyecto: administracion de canchas de futbol</h2>
	<div class="p-10 rounded-md">
		<p>
			Una pequeña compañía cuenta con cinco campos de futbol para su renta. Es
			una empresa familiar que pretende mejorar el servicio a sus clientes y
			agilizar el manejo de la información, <b
				>busca una empresa desarrolladora de software para que le realice un
				nuevo sistema de software.</b
			>
			<br /><br />
			<span class="sub">La información que actualmente manejan es:</span>
			<br />
			El registro de los equipos, de los jugadores, de los partidos a celebrarse,
			las fechas de los juegos y los árbitros asignados.
			<br />
			Actualmente, <span class="problem"
				>toda la información se lleva en hojas de cálculo</span
			>
			, lo que hace que el trabajo administrativo sea muy pesado y sobre todo que
			se pierda el control de la información, ya que ha sucedió que se han empalmado
			varios partidos en un mismo horario o no hay árbitros disponibles. Generalmente
			hay inconformidad en los jugadores por el hecho de <span class="problem"
				>no tener un registro correcto de goleo de cada jugador.</span
			> En primera instancia se requiere un sistema que permita dar de alta a los
			equipos con sus respectivos jugadores, recabando los datos generales de estos
			, tales como nombre, numero camiseta, posición, foto, etc).
			<br /><br />
			Así mismo, contar con un registro de los árbitros disponibles, teniendo los
			datos generales de estos para su rápida localización y confirmación en la asistencia
			al juego.
			<br /><br />
			En resumen, debe tener un <b
				>modulo para captura de equipos, de jugadores, de árbitros y de juegos a
				celebrarse. Es importante visualizar un calendario de partidos con sus
				respectivos horarios y árbitros asignados.</b
			> Además de ser capaz de emitir reportes de quipos inscritos por temporada,
			jugadores, árbitros y partidos.
			<br /><br />
			Para la empresa es muy importante tener un <b
				>esquema de seguridad en el ingreso al sistema</b
			>, cada empleado debe tener su propia cuenta para que se relacione con los
			distintos movimientos que pueda realizar.
		</p>
	</div>
</section>

<style>
	div {
		text-align: justify;
		border: 2px solid #6dd5ed;
	}
	h2 {
		font-size: 1.2em;
		color: #6dd5ed;
	}
	b {
		color: #6dd5ed;
	}
	.sub {
		font-weight: bold;
		font-size: 1.1em;
	}
	.problem {
		/* #e73f3f */
		/* #806cf0 */
		/* #e083d4 */
		color: #806cf0;
		font-weight: bold;
	}
</style>
