<section class="p-10">
	<h1>Problematic</h1>
	<p class="bg-slate-900 p-10 rounded-md" >
		Una pequeña compañía cuenta con cinco campos de futbol para su renta. Es una empresa familiar que pretende mejorar el servicio a sus clientes y agilizar el manejo de la información, busca una empresa desarrolladora de software para que le realice un nuevo sistema de software.
		<br /><br />
		<b>La información que actualmente manejan es:</b>  
		<br />
		El registro de los equipos, de los jugadores, de los partidos a celebrarse, las fechas de los juegos y los árbitros asignados. 
		<br />
		Actualmente, toda la información se lleva en hojas de cálculo, lo
		que hace que el trabajo administrativo sea muy pesado y sobre todo que se pierda el control de la información, ya que ha sucedió que se han empalmado varios partidos en un mismo horario o no hay árbitros disponibles. Generalmente hay inconformidad	en los jugadores por el hecho de no tener un registro correcto de goleo de cada	jugador. En primera instancia se requiere un sistema que permita dar de alta
		a los equipos con sus respectivos jugadores, recabando los datos generales de	estos , tales como nombre, numero camiseta, posición, foto, etc). 
		<br /><br />
		Así mismo, contar con un registro de los árbitros disponibles, teniendo los datos generales	de estos para su rápida localización y confirmación en la asistencia al juego.
		<br /><br />
		En resumen, debe tener un modulo para captura de equipos, de jugadores, de árbitros	y de juegos a celebrarse. Es importante visualizar un calendario de partidos con sus respectivos horarios y árbitros asignados. Además de ser capaz de emitir	reportes de quipos inscritos por temporada, jugadores, árbitros y partidos. 
		<br /><br />
		Para	la empresa es muy importante tener un esquema de seguridad en el ingreso al sistema, cada empleado debe tener su propia cuenta para que se relacione con los distintos	movimientos que pueda realizar. También es de suma importancia que el sistema	se apegue a las políticas empresariales que tiene y a la imagen empresarial.
	</p>
</section>

<style>
	p {
		text-align: justify;
	}
</style>