<!--
    ?Preguntar si podemos inventar los datos de los sponsors
*Aqui iran las compañias/Equipo profersionales de futbol/Torneos/FIFA quienes ya han usado nuestro servicios y confian en nosotros, No son las personas que Nos patrocinan, Son los que confian
-->
<div class="">
	<h1>Companies thrust with us</h1>
	<div class="flex gap-3 p-5 flex-wrap justify-center">
		<img class="rounded-md" src="/icons/brand_1.jpg" alt="" />
		<img class="rounded-md" src="/icons/brand_2.avif" alt="" />
		<img class="rounded-md" src="/icons/brand_3.avif" alt="" />
		<img class="rounded-md" src="/icons/brand_4.jpg" alt="" />
		<img class="rounded-md" src="/icons/brand_6.avif" alt="" />
		<img class="rounded-md" src="/icons/brand_7.avif" alt="" />
	</div>
</div>

<style>
	img {
		max-width: 200px;
		max-height: 200px;
	}
</style>
