---
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import "../styles/Layout.css";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>4 barrenderos un sueño</title>
	</head>
	<body>
		<Hero />
		<slot />
		<Footer />
	</body>
</html>

<style>
	:global(h1) {
		margin: 2rem 0;
		font-size: 2rem;
		text-align: center;
		margin-top: 10rem;
		font-weight: bold;
	}
	:global(h2) {
		text-align: center;
		font-weight: bold;
	}
	:global(h4) {
		font-weight: bold;
	}
	main {
		max-width: 1440px;
		margin: auto;
	}
</style>
